In [30]:
import pandas as pd
import numpy as np

In [31]:
from sklearn import datasets

iris = datasets.load_iris()

iris.keys()
# type(iris.data)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [32]:
df = pd.DataFrame(iris.data)
df.columns = ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [33]:
# run query

df.loc[(df['Sepal.Length']>1.0) | (df['Sepal.Length'] < 3.0)].head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [34]:
df.iloc[0, 3]

0.2

In [35]:
df.drop('Sepal.Length', axis=1)

     Sepal.Width  Petal.Length  Petal.Width
0            3.5           1.4          0.2
1            3.0           1.4          0.2
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[150 rows x 3 columns]

In [36]:
df['Sepal.Length'].value_counts().head()

5.0    10
6.3     9
5.1     9
5.7     8
6.7     8
Name: Sepal.Length, dtype: int64

In [37]:
pd.DataFrame (df.sort_values(by='Petal.Length').values)

       0    1    2    3
0    4.6  3.6  1.0  0.2
1    4.3  3.0  1.1  0.1
2    5.8  4.0  1.2  0.2
3    5.0  3.2  1.2  0.2
4    5.5  3.5  1.3  0.2
..   ...  ...  ...  ...
145  7.9  3.8  6.4  2.0
146  7.6  3.0  6.6  2.1
147  7.7  3.8  6.7  2.2
148  7.7  2.8  6.7  2.0
149  7.7  2.6  6.9  2.3

[150 rows x 4 columns]